$chat-border: #8ea6b4;
$online: #12776f;
$scroll-bg: #ccc;
$chat-head-text: #f1f1f1;
$inactive: #dd3e3e;
$chat-bg: rgb(231, 239, 243);
$chat-header: #2f89fc;
$text-color: #3b444b;
$input-box-shadow: rgba(35, 43, 43, 0.3);
/******  Chat Window Colors  **********/

$chat-window-head: #e61d0f;
$received-messagae: #ededed;
$sent-message: #4e709d;
$chat-window-head-theme2: rgb(26, 35, 126);
$chat-window-head-theme3: rgba(245, 127, 23, 0.6)