.example3-chat-provider-theme {
    width: 340px;
    border: 1px solid $chat-border;
    .chat-header-theme {
        height: 40px;
        background: $chat-window-head-theme3;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-content: flex-start;
        padding: 0.5% 2.5%;
        font-family: 'Raleway', sans-serif;
        .chat-search-theme {
            .chat-search-theme-input {
                outline: none;
                border: none;
                color: white;
                border-radius: 5px;
                padding: 1.5% 5%;
                background: rgba(230, 81, 0, 0.15);
                transition: 0.1s linear;
                &:focus {
                    padding: 3.6% 5%;
                    background: rgba(230, 81, 0, 0.30);
                }
            }
        }
    }
    .chat-list-theme {
        background: white; 
        overflow-y: scroll;
        max-height: 60vh;
        .chat-list-item-theme {
            border-bottom: 1.2px solid #aa9b9b9a;
            align-items: center;
            display: flex;
            justify-content: space-around;
            padding: 0% 2%;
            cursor: pointer;
            &:hover {
                background-color: rgba(245, 127, 23, 0.2);
            }
            .user-list-avatar-theme {
                border-radius: 50%;
            }
            .user-list-item-theme {
                max-width: 100%;
                flex: 2;
                padding: 0 5%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                .user-list-name-theme {
                    font-family: 'Raleway', sans-serif;
                }
                .user-list-message-theme {
                    display: block;
                    font-size: 0.75em;
                    color: grey;
                    font-family: 'Raleway', sans-serif;
                }
            }
        }
    }
    ::-webkit-scrollbar {
        display: none;
    }
}