@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');
@import '../root/colors.scss';

// Chat list styles
:local(.header) {
    height: 40px;
    background: $chat-window-head-theme3;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    justify-content: space-around;
    align-content: flex-start;
    padding: 0.5% 2.5%;
    font-family: 'Raleway', sans-serif;
}

:local(.icon) {
    padding: 9%;
}

:local(.provider) {
    width: 220px;
    background: $chat-bg;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
}

:local(.userlist) {
    background: white;
    overflow-y: scroll;
    max-height: 44vh;
    &::-webkit-scrollbar {
        display: none;
    }
}

:local(.useritem) {
    border-bottom: 1.2px solid #aa9b9b9a;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    &:hover {
        background-color: rgba(245, 127, 23, 0.2);
    }
}

:local(.useravatar) {
    border-radius: 50%;
    max-height: 40px;
    width: auto;
}

:local(.username) {
    text-transform: capitalize;
    flex: 2;
    padding-left: 20px;
    margin: 0;
}

:local(.online) {
    @extend :local(.useravatar);
    height: 8px;
    width: 8px;
    background-color: $online;
}

:local(.offline) {
    height: auto;
    width: auto;
    font-size: 0.7em;
    color: #a1a1a1;
}

:local(.searchbox) {
    background-color : $chat-window-head-theme3;
    padding: 2%;
    height: 30px;
    display: flex;
    justify-content: center;
}

:local(.input) {
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 1.5% 5%;
    width: 70%;
    background: rgba(230, 81, 0, 0.15);
    transition: 0.2s ease-in;
    &:focus {
        width: 100%;
        padding: 1.5% 7%;
        background: rgba(230, 81, 0, 0.30);
    }
}

// Chat window styles
:local(.windowprovider) {
    background: $chat-bg;
    width: 220px;
    bottom: 0px;
    position: relative;
    float: right;
    margin-left: 0.1em;
}

:local(.windowHeader) {
    background:  $chat-window-head-theme3;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $chat-head-text;
    border-radius: 5px 5px 0 0;
}

:local(.chatWindowAvatar) {
    border-radius: 50%;
    max-height: 40px;
    max-width: 40px;
    margin-right: 20px;
}

:local(.chatWindowBody) {
    height: 40vh;
    padding: 5px 10px;
    overflow-y: scroll;
    background-color: #ffffff;
    .animated {
        animation-duration: 0.1s;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: $chat-head-text;
    }
    &::-webkit-scrollbar-thumb {
        background: $scroll-bg;
        border-radius: 5px;
    }
}

:local(.message) {
    margin: 4px;
    word-wrap: break-word;
    font-size: 14px;
    max-width: 60%;
    padding: 8px 10px;
    border-radius: 8px;
    clear: both;
}
:local(.sent) {
    background-color: rgba(245,127,23, 0.86);
    color: white;
    float: right;
}
:local(.recieved) {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0,0,0,0.73);
    float: left;
}

:local(.chatSendInput) {
    box-shadow: 0 -5px 16px -5px $input-box-shadow;
    height: 35px;
    padding: 2%;
    background-color: $chat-window-head-theme3;
    form {
        display: flex;
        height: 100%;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
        button {
            background: none;
            border: 0;
            color: white;
            cursor: pointer;
            i {
                font-size: 16px;
            }
        }
        .emoji-button {
            margin: 0% 1% 0% 2%;
        }
    }
}

:local(.messageInput){
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 2% 3%;
    width: 80%;
    background: transparent;
    color: white;
    transition: 0.2s ease-in;
    border-bottom: 1px solid rgba(255,255,255,0);
    &::placeholder {
        color: white;
        opacity: 0.5;
    }
}