@import './root/colors.scss';
@import './root/font.scss';

.chat-list-container {
  border: 1px solid $chat-border;
  background: $chat-bg;
  max-width: 350px;
  .active-users {
    background: $chat-header;
    color: $chat-head-text;
    padding: 10px 0;
    p {
      margin: 0;
      padding-left: 15px;
      font-size: $head-font-size;
      text-transform: capitalize;
    }
  }
  .chat-list {
    padding: 0 20px;
    overflow-y: scroll;
    max-height: 80vh;
    .chat-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px 0;
      cursor: pointer;
      .user-avatar {
        border-radius: 50%;
      }
      .user-name {
        text-transform: capitalize;
        flex: 2;
        padding-left: 20px;
        margin: 0;
      }
      span {
        @extend .user-avatar;
        height: 8px;
        width: 8px;
      }
      .online {
        background-color: $online;
      }
      .offline {
        height: 15px;
        width: 20px;
      }
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: $chat-head-text;
    }
    &::-webkit-scrollbar-thumb {
      background: $scroll-bg;
      border-radius: 5px;
    }
  }
  .search-user {
    .search-user-input {
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
    }
  }
}
