@import url('https://fonts.googleapis.com/css?family=Roboto');
.demo-home {
    width: 100%;
    overflow-x: none;
    font-family: 'Roboto', sans-serif;
    .demo-page-navbar {
        height: 8.2%;
        min-width: 100%;
        display: inline-flex;
        background: #35baf6;
        color: aliceblue;
        font-family: 'Roboto', sans-serif;
        text-anchor: middle;
        padding: 0.25%;
        position: fixed;
        top: 0;
        left: 0;
        .demo-page-navbar-brand {
            display: flex;
            width: fit-content;
            height: auto;
            padding: 0.5%;
            align-items: center;
            font-size: 1.4em;
        }
        .navbar-links {
            background: transparent;
            margin-left: auto;
            margin-right: 1%;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }
            a {
                display: flex;
                align-items: center;
                padding: 0 10px;
                height: 100%;
                font-family: 'Roboto', sans-serif;
                color: white;
                text-decoration: none;
            }
        }
    }
    .demo-page-intro {
        height: 80vh;
        width: 100%;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        display: flex;
        font-family: 'Roboto', sans-serif;
    }
    .demo-intro {
        padding: 0 15%;
        animation-duration: 2s;
    }
    .demo-page-intro-container {
        height: 50vh;
        max-width: 100%;
        padding: 5%;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .demo-chat-window-box {
        display: flex;
        width: 50vw;
        position: absolute;
        bottom: 0.5em;
        z-index: 1000;
        justify-content: space-between;
            .demo-chat-window-header {
                height: 40px;
                background-color: blueviolet;
                color: white;
            }
    }
    .demo-chat-list {
        position: fixed;
        right: 0.5em;
        margin-bottom: 0.2%;
        border-radius: 5px;
        height: auto;
        width: 300px;
        bottom: 55px;
        z-index: 1000;
        ::-webkit-scrollbar {
            visibility: hidden;
        }
        &:hover {
            ::-webkit-scrollbar {
                visibility: visible;
            }
        }
        .demo-chat-provider {
            border-radius: 5px;
        }
    }
}